@charset "UTF-8";

.flex {
  display: flex;	
}
.flex > * {
  flex: 50%;

}
.logo {
	padding-left: 30px;
    width:140px;
	float:left;	  
}

/* Body */
.body {
	font-family: "Times New Roman";
	background-color:aliceblue;
	margin: 0;
	background-repeat: no-repeat;
    background-attachment:local; 
    background-size: 100% 100%;
}	

.header-main { 
  width:100%;
  padding-top: 0px;
  padding-bottom:110px;
  padding-left: 0px;
  margin-left: 0px;
  background: linear-gradient(180deg, #342F2C 50%, #000000 50%);
	}

.text_column{
	font-family: "Times New Roman";
    color:#483E3E;
	font-style:oblique;
	font-size:x-large;
	padding-top:30px;
	margin-left: 180px;
	margin-right: 180px;
	position: static;
}

	

.link_about{
	word-spacing: 0px;
    margin-right: 20px;
    font-weight: 200;
	float:right;
	color: white;
	font-size: 20px;
	text-decoration: none;	
}
.about{
	text-decoration: none;
}

	
.image_column_vape {
    font-family: "Times New Roman";
    color:#483E3E;
	font-style:oblique;
	font-size:x-large;
	margin-left: 90px;
	margin-right: 90px;
	position: static;
	display:flex;
	flex-direction: column;
	width:650px;
	height:350px;
    padding: 30px;
	padding-bottom:25px;
    
}
.text_column_vape {
	font-family: "Times New Roman";
    color:#483E3E;
	font-style:oblique;
	font-size: x-large;
	text-align-last:center;
	padding-top: 10px;
	padding-left: 0px;
	margin-right: 0px;
	font-display:block;
	position: static;
}

.vape  {
	resize: both;
	width: 450px;
	height: 750px;
	margin-left:30px;
	margin-bottom: 70px;
	margin-right: 20px;
    padding-top: 30px;		
}


.galler {
	display:row;
	width:470px;
	height: 370px;
	padding-top:50px;
	margin-left: 60px;
	padding-bottom: 40px;
			
}
.row {
  display:row;;
  padding-top: 0px;
  padding-bottom: 0px;
	
}

.container-main {
 
 background-image:url("images/background.png");
 background-size:cover;
 background-color: #342F2C;
 display:flex;
 flex-direction: row;
 align-items: center;
 padding-bottom: 40px;
 padding-top: 20px;
}

.name {
    margin-left:54px;
	margin-top: 15px;
}

.message {
	margin-left:40px;
	margin-top:10px;
	margin-bottom:0px;
}
.submit {
    margin-left:120px;
}
.name_store{
    text-align: center; 
}
.wrapper-main{
	font-family: "Times New Roman";
	width: 100%;
}
.location{
	color:white;
	text-align: center;
	margin-left: 360px;
	
}
.google-map {
    height: 350px;
	width: 450px;
	position: static;
	padding-bottom: 0%;
	margin-left:0px;
	margin-right: 0px;
	margin-top: 0px;
}
.google-map iframe {
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
	width: 100%;    
	}
.feedback{
    color:white;
    margin-left:120px;
    margin-top: 110px;
	}
.footer{ 
    font-family: "Times New Roman";
    background-color:#332F2C;
    font-size: 20px;
    color:#ffffff;
    font-weight: 200;
    padding-top: 50px;
    text-align: center; 
}



/* Small devices (portrait tablets and large phones, up to 600px) */
@media  (max-width: 600px) {


.body {
	width: 100%;	
	}
.wrapper-main{
	width:100%;
	}
.header-main { 
  width:100%;
  padding-top: 0px;
  padding-bottom:52px;
  padding-left: 0px;
  margin-left: 0px;
  background: linear-gradient(180deg, #342F2C 30%, #000000 20%);
	}
.img-fluid{
    min-height: 300px;
	}
.logo {
	padding-left: 30px;
	padding-top: 2px;
    width:20%;
	float:left;
	}
.link_about{
	word-spacing: 0px;
    margin-right: 20px;
    font-weight: 200;
	float:right;
	color: white;
	font-size: small;
	text-decoration: none;	
}
	.about{
	text-decoration: none;
}

.galler {
	width:80%;
	height: 80%;
	padding-top: 5%;
	padding-bottom: 10px;
	margin-left:37px;	
}
.row {
	width: 100%;
    display:flex;
	flex-direction: column;  
	}	

.text_column { 
	font-family: "Times New Roman";
    color:#483E3E;
	font-style:oblique;
	font-size:large;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 10px;
    }
.flex{
	flex:50%;
    padding-top: 20px;
    flex-direction:column;
	}	
.vape  {
    display:flex;
	flex-direction: column;
	width:89%;
	height: 100%;
	padding-top: 20px;
	margin-left: 20px;	
}
.text_column_vape {	
	font-style:oblique;
	font-size:large;
	margin-left: 10px;
	margin-right: 0px;
	margin-bottom: 0px;	
	}
.image_column_vape{
	display:flex;
	flex-direction: column;
	width:100%;
	height: 100%;
	padding-top: 5%;
	padding-bottom: 10px;
	margin-left: 0px;			
	}
.google-map {
    height: 100%;
	width: 100%;
	padding-bottom:0px;
	margin-left:0px;
	margin-top: 0px;
    }
.google-map iframe {
	
    top: 0;
    left: 0;
    height: 100%;
	width: 100%;      
	}
.footer{ 
    font-weight: 150px;
    padding-top: 20px; 
	text-decoration: none;
}
.container-main{
	diplay:flex;
	flex-direction: column;
	}
.name_store{
    text-align: center;
    margin-left: 20px;
}
.location{
	padding-left: 50px;
	padding-right:50px;
	color:white;
	height:300px;
	text-align: center;
	margin-left: 0px;	
}
	
.feedback{
    color:white;
    margin-left:10px;
    margin-top: 110px;
	}
.name {
    margin-left:58px
	}

.message {
	margin-left:39px;
	margin-top:5px;
	margin-bottom:0px;
}
}


/* Small devices (portrait tablets and large phones, up to 600px) */
@media  (max-width:601-1366px) {
	
.galler {
	display:flex;
	justify-content: center;
	align-items: center;
	width:20%;
	height: 80%;
	padding-top: 0%;
	padding-bottom: 30px;
	margin-left:0px;
	margin-bottom: 20px;
}
	.text_column_vape {	
	font-style:oblique;
	font-size:medium;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;	
	}
	.image_column_vape{
	display:flex;
	flex-direction: column;
	width:80%;
	height: 100%;
	padding-top: 5%;
	padding-bottom: 10px;
	margin-left: 0px;			
	}
}

