@charset "UTF-8";


body{
 	background-color:aliceblue;
}

.flex {
  display: flex;	
}
.flex > * {
  flex: 50%;

}
.logo {
	padding-left: 30px;
    width:140px;
	float:left;
	  
}

.header-main { 
  
  width:100%;
  padding-top: 0px;
  padding-bottom:110px;
  padding-left: 0px;
  margin-left: 0px;
  background: linear-gradient(180deg, #342F2C 50%, #000000 50%);
	}
	
.container {

 background-image:url("images/background.png");
 background-color:#332F2C; 
 background-size: cover;
 display: flex;
 flex-direction: row;
 padding-bottom: 50px;
 padding-top: 50px;
}
.link_about{
	
	word-spacing: 0px;
    margin-right: 20px;
    font-weight: 200;
	float:right;
	color: white;
	font-size: 20px;
	text-decoration: none;	
}


.section-two{
  font-family: "Times New Roman";
  font-size: 20px;
  color:#ffffff;
  font-weight: 200;
  margin-left: 0px;
  margin-top: 0px;
}

.footer{ 
  font-family: "Times New Roman";
  background-color:#332F2C;
  font-size: 20px;
  color:#ffffff;
  font-weight: 200;
  padding-top: 50px;

}
 
.text_column {
   
	font-size: 22px;
    color:#483E3E;
    font-weight: 200;
	text-align:center;
	text-emphasis-position: above; 
	font-style:oblique;
	padding-bottom: 20px;
}

 /* Each section will take up 33.33% of the container space */
.flex{
	flex:33.33%;
    padding-top: 90px;
}
	
.image_column_vape {
    display:flex;
	flex-direction: column;
	width:550px;
	height: 350px;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-left: 67px;
  
}
.text_column_vape{
	font-family: "Times New Roman";
	font-size: 24px;
    color:#483E3E;
    font-weight: 200;
	font-style:oblique;
	text-align: center;
}
.vape  {
    display:flex;  
	margin-left:115px;
	margin-bottom: 90px;
	margin-top: 0px;
	width:0px;
	align-items:flex-start;	
}

/* Body */
.body {
	font-family: "Times New Roman";
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}	

 .about {
	margin-left: 0px;
	margin-top: 23px;
	padding-top:0px;
	font-size: 23px;	
    text-align: center; 
    color:#483E3E;	
}

.galler {
	width: 100%;	
}


.name {
    margin-left:70px}
.message {
	margin-left:45px;
	margin-top:10px;
	margin-bottom:0px;
}
.submit {
		margin-left:140px;

}
.row {
  display:flex;
  margin-left: 10px;
}

.column{
	width:550px;
	height: 300px;
	padding-left: 10px;
}
.name_store{
text-align: center; 
}

.wrapper-main{
	font-family: "Times New Roman";
	font-weight: 200;
	width: 1000px;
}
.location{
	color:white;
	text-align: center;
	margin-left: 150px;
}
.google-map {
    height: 350px;
	width: 450px;
	padding-bottom: 0%;
	margin-left:280px;
	margin-right: 95px;
	margin-top: 0px;
}
.google-map iframe {
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
	width: 100%;
       
	}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
.wrapper-main{
	font-family: "Times New Roman";
	font-weight: 150;
	width: 100%;
	}
	
.header-main {  
  width:100%;
  height: 35%;
  padding-top: 0px;
  padding-bottom:110px;
  padding-left: 0px;
  margin-left: 0px;
  background: linear-gradient(180deg, #342F2C 50%, #000000 50%);
	}
	
.logo {
	padding-left: 30px;
	padding-top: 20px;
    width:20%;
	float:left;
	}
.galler {
	width: 100%;
	height: 275px;
}

.flex > * {
    flex: 0%;
	}
.about {
	margin-top: 20px;
    text-align: center; 
    color:#483E3E;
	font-size:20px;
	
	}
.text_column {
   
	font-size: 17px;
    color:#483E3E;
	margin-top: 5px;
    font-weight: 150;
	text-align:center;
	font-style:oblique;
	
	
	

    }
.column{
	width:98%;
	height: 100%;
	padding-left: 2px;
	}
.row {
    display:block;
    margin-left: 5px;
	}

.flex{
	flex:100%;
    padding-top: 20px;
    flex-direction:column;
	width: auto;
	}
.vape  {
    dsipaly: flex;
	flex-direction:column;
	margin-left:10px;
	margin-bottom: 30px;
	margin-top: 0px;
	width:auto;	
}
.text_column_vape {

	font-size: 17px;
    color:#483E3E;
    font-weight: 150;
    text-align: center;
	font-style:oblique;
	}
.image_column_vape {
    display:flex;
	flex-direction: column;
	width:80%;
	height: 98%;
	padding-top: 10%;
	padding-bottom: 20px;
	margin-left: 47px;
  
}

.container {

 background-image:url("images/background.png");
 background-color:#332F2C; 
 background-size:contain;
 display:flex;
 flex-direction:column;
 padding-bottom: 0px;
 padding-top: 0px;
		
}
	
.section-two{
  font-family: "Times New Roman";
  font-size: 16px;
  color:#ffffff;
  font-weight: 200;
  margin-left: 70px;
  margin-top: 70px;
  margin-bottom: 70px;
}
.google-map {

    height: 100%;
	width: 80%;
	padding-bottom: 0%;
	margin-left:40px;
	margin-top: 0px;

    }

.google-map iframe {
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
	width: 100%;
       
	}
.name {
    margin-left:58px
	}
.message {
	margin-left:40px;
	margin-top:10px;
	margin-bottom:0px;
}
}

/* Small devices (portrait tablets and large phones, 601px and up) */
@media only screen and (min-width: 601px) {
 .wrapper-main{
	font-family: "Times New Roman";
	font-weight: 200;
	width: 100%;
	}
 .column{
	width:100%;
	height: 300px;
	padding-left: 10px;
	 
}
	.flex > * {
  flex: 50%;
}

.section-two{
  font-family: "Times New Roman";
  font-size: 20px;
  color:#ffffff;
  font-weight: 200;
  margin-left: 120px;
  margin-top: 150px;
}
	.flex{
	flex:33.33%;
    padding-top: 90px;
	}
		.vape  {
    display:block;  
	margin-left:60px;
	margin-bottom: 30px;
	margin-top: 0px;
	width:0px;

	
}
	.text_column_vape {

	margin-left: 75px;
    font-family: "Times New Roman";
	font-size: 20px;
    color:#483E3E;
    font-weight: 100;
    text-align:center;
	font-style:oblique;
}
}
/* Small devices (portrait tablets and large phones, 768px and up) */
@media only screen and (min-width: 768px) {
  
 .wrapper-main{
	font-family: "Times New Roman";
	font-weight: 200;
	width: 100%;
}
	.flex > * {
  flex: 50%;
}

	.column{
	width:100%;
	height: 300px;
	padding-left: 10px;
}
	.flex{
	flex:33.33%;
    padding-top: 90px;
}
	.vape  {
    display:block;  
	margin-left:60px;
	margin-bottom: 30px;
	margin-top: 0px;
	width:0px;

	
}
	.text_column_vape {

	margin-left: 75px;
    font-family: "Times New Roman";
	font-size: 20px;
    color:#483E3E;
    font-weight: 100;
    text-align:center;
	font-style:oblique;
}
}
/* Small devices (portrait tablets and large phones, 992px and up) */
@media only screen and (min-width: 992px) {
  	
.wrapper-main{
	font-family: "Times New Roman";
	font-weight: 200;
	width: 100%;
}
.flex > * {
  flex: 50%;
	}
	.column{
	width:100%;
	height: 300px;
	padding-left: 10px;
	}
	.flex{
	flex:33.33%;
    padding-top: 90px;
}
	.vape  {
    display:block;  
	margin-left:60px;
	margin-bottom: 30px;
	margin-top: 0px;
	width:0px;

	
}
	.text_column_vape {

	margin-left: 75px;
    font-family: "Times New Roman";
	font-size: 20px;
    color:#483E3E;
    font-weight: 100;
    text-align:center;
	font-style:oblique;
}
}
/* Small devices (portrait tablets and large phones, 1200px and up) */
@media only screen and (min-width: 1200px) {
 
.wrapper-main {
	font-family: "Times New Roman";
	font-weight: 200;
	width: 100%;
}
	.flex > * {
  flex: 50%;
}

	.column{
	width:100%;
	height: 300px;
	padding-left: 10px;
	}
	.flex{
	flex:33.33%;
    padding-top: 90px;
}
	.vape  {
    display:block;  
	margin-left:60px;
	margin-bottom: 30px;
	margin-top: 0px;
	width:0px;

	
}
	.text_column_vape {

	margin-left: 75px;
    font-family: "Times New Roman";
	font-size: 20px;
    color:#483E3E;
    font-weight: 100;
    text-align:center;
	font-style:oblique;
}
}
	